@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
::selection {
  color: #e44400;
  background-color: #a1a1a1; }

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "M PLUS Rounded 1c", sans-serif; }

html {
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

body {
  background-color: #151515; }

/* header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 0.5em 2em;
  background-color: #000000e2; }
  header h1 {
    color: #e44400; }
  header nav {
    display: flex;
    align-items: center; }
    header nav .links {
      /* boton tineda */ }
      header nav .links a {
        font-size: 1em;
        color: #a1a1a1;
        padding: 0.2rem;
        transition: all 400ms; }
      header nav .links button {
        font-size: 1em;
        color: #a1a1a1;
        font-family: inherit;
        font-weight: 800;
        cursor: pointer;
        position: relative;
        border: none;
        background: none;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: color; }
        header nav .links button span {
          font-style: italic;
          color: #e44400; }
      header nav .links button:focus,
      header nav .links button:hover {
        color: #fff; }
      header nav .links button:focus:after,
      header nav .links button:hover:after {
        width: 100%;
        left: 0%; }
      header nav .links button:after {
        content: "";
        pointer-events: none;
        bottom: -2px;
        left: 50%;
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: #fff;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
        transition-duration: 400ms;
        transition-property: width, left; }
    header nav a:hover {
      color: #fff; }
  header #btn__menu {
    color: #a1a1a1;
    font-size: 2rem;
    display: none; }

/* hero */
#portada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 95vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.557), rgba(0, 0, 0, 0.453)), url(../archivos/portada.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  #portada h2 {
    color: white;
    font-size: 4em;
    text-shadow: 2px 2px 10px black; }
  #portada img {
    width: 45vw;
    cursor: pointer; }

/* actividades */
#actividades {
  color: #fff;
  padding: 1.5em;
  padding-top: 60px; }
  #actividades .titulo-actividades {
    display: flex;
    align-items: center; }
    #actividades .titulo-actividades h2 {
      color: #e44400; }
    #actividades .titulo-actividades img {
      padding: 0.5em; }
  #actividades h3 {
    color: #326ecf;
    text-shadow: 2px 2px 10px black; }
  #actividades p {
    margin-bottom: 1em; }

/* horarios */
#horarios {
  color: #fff;
  padding: 1.5em;
  padding-top: 60px; }
  #horarios h2 {
    color: #e44400; }
  #horarios strong {
    color: #326ecf; }
  #horarios .titulo-horarios {
    display: flex;
    align-items: center; }
    #horarios .titulo-horarios img {
      margin-left: 0.5em; }
  #horarios .semana {
    display: flex;
    flex-wrap: wrap; }
    #horarios .semana .dia {
      margin: 0.5em;
      padding: 0.5em;
      border-left: 2px solid #326ecf; }

/* planes */
#planes {
  color: #fff;
  padding: 1.5em;
  padding-top: 60px; }
  #planes .titulo-planes {
    display: flex;
    align-items: center; }
    #planes .titulo-planes h2 {
      color: #e44400; }
    #planes .titulo-planes img {
      padding: .5em; }
  #planes ul {
    margin: 0.5em;
    padding: 0.5em;
    border-left: 2px solid #326ecf; }

/* consejos */
#consejos {
  color: #fff;
  padding: 1.5em;
  padding-top: 60px; }
  #consejos .titulo-consejos {
    display: flex;
    align-items: center; }
    #consejos .titulo-consejos h2 {
      color: #e44400; }
    #consejos .titulo-consejos img {
      padding: .5em; }
  #consejos h3 {
    color: #326ecf; }

/* novedades */
#novedades {
  color: #fff;
  padding: 1.5em; }
  #novedades .titulo-novedades {
    display: flex;
    align-items: center; }
    #novedades .titulo-novedades h2 {
      color: #e44400; }
    #novedades .titulo-novedades img {
      padding: 0.5em; }
  #novedades h4 {
    color: #326ecf; }

.enlace {
  color: #e44400;
  font-style: italic;
  font-weight: bold; }

/* contacto */
#contacto {
  padding: 1.5em; }
  #contacto h2 {
    color: #e44400; }
  #contacto .titulo-mapa {
    display: flex;
    align-items: center; }
    #contacto .titulo-mapa h3 {
      color: #326ecf;
      font-size: 1.5rem; }
  #contacto iframe {
    width: 40vw; }
  #contacto .fightfit-ig {
    color: #326ecf; }
    #contacto .fightfit-ig p {
      font-size: 1.5rem;
      font-weight: bold; }
    #contacto .fightfit-ig a {
      font-size: 3rem;
      margin: 0 0.3rem; }
    #contacto .fightfit-ig .instagram {
      color: #ffffff; }
    #contacto .fightfit-ig .facebook {
      color: #ffffff; }

/* footer */
footer {
  text-align: center;
  color: #a1a1a1;
  margin-bottom: 10px; }

/* media queries */
@media (max-width: 768px) {
  header nav {
    height: 2rem; }
    header nav .links {
      background-color: #000000f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30vw;
      pointer-events: none;
      overflow: hidden;
      transition: all 400ms;
      padding: 0.5rem 0;
      margin-bottom: 16rem; }
    header nav .links.activo {
      pointer-events: auto;
      margin-bottom: -10rem; }
    header nav #btn__menu {
      display: block;
      transition: 400ms;
      cursor: pointer; }
    header nav #btn__menu.rotate {
      color: #e44400;
      transform: rotate(-180deg); }
  #portada {
    display: flex;
    flex-direction: column; }
    #portada img {
      width: 95%; }
  #contacto iframe {
    width: 100%; } }

@media (max-width: 320px) {
  header {
    width: 100%;
    padding: 0 .2em; }
    header nav {
      width: 100%; }
      header nav .links {
        padding: 0.5em;
        width: 100%; }
      header nav .links.activo {
        margin-top: 60px; } }
